<h1>Angular2 Tasklist</h1>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h5>TODO</h5>
        <p *ngFor="#task of notFinishedTasks">
            <input [(ngModel)]="task.done" type="checkbox" class="checkbox" (ngModelChange)="changeTaskStatus(task)">
            <label>
            <span [ngClass]="{finished: task.done}">
            </span>{{task.name}}
            </label>
        </p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h5>DONE</h5>
        <p *ngFor="#task of finishedTasks">
            <input [(ngModel)]="task.done" type="checkbox" class="checkbox" (ngModelChange)="changeTaskStatus(task)">
            <label>
                <span [ngClass]="{finished: task.done}">
                </span>{{task.name}}
            </label>
            <i *ngIf="task.done" (click)="remove(task)" class="mdi mdi-delete icon"></i>
        </p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h5 *ngIf="deletedTasks.length > 0">REMOVED</h5>
        <p *ngFor="#task of deletedTasks">
            <span class="deletedTask">{{task.name}}</span>
            <i class="mdi mdi-backup-restore icon" (click)="restore(task)"></i>
        </p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <form *ngIf="active" (ngSubmit)="onSubmit()" #taskForm="ngForm">
            <div class="group">
                <input class="material-input-text" type="text" required id="name"
                       [(ngModel)]="model.name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="material-input-label">Task</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit" [disabled]="!taskForm.form.valid">
                Add
            </button>
        </form>
    </div>
</div>