<h1>Angular2 Tasklist</h1>
<div>
    <ul>
        <li *ngFor="#task of tasks">
            <input [(ngModel)]="task.done" type="checkbox" class="checkbox">
            <label><span [ngClass]="{finished: task.done}"></span>{{task.name}}</label>
        </li>
    </ul>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #taskForm="ngForm">
        <div class="group">
            <input class="material-input-text" type="text" required id="name"
                   [(ngModel)]="model.name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="material-input-label">Task</label>
        </div>
        <button type="submit" [disabled]="!taskForm.form.valid">Add</button>
    </form>
</div>